.autocomplete__container {
  width:100%;
  position: relative;
}

.autocomplete__input {
  width:100%;
  box-sizing: border-box;
}

.autocomplete__list-container {
  position: absolute;
  top:100%;
  width:100%;
  background: #ffffff;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.autocomplete__list-item {
  cursor: pointer;
  padding:3px 12px;
  &:hover {
    background: #eeeeee;
  }
}

.autocomplete__active {
  background: #eeeeee;
}
