.autocomplete__container {
  width:100%;
  position: relative;
  max-width: 600px;
}

.autocomplete__input {
  width:100%;
  box-sizing: border-box;
}

.autocomplete__list-container {
  position: absolute;
  top:100%;
  width:100%;
  background: #ffffff;
}

.autocomplete__list-item {
  cursor: pointer;
  padding:3px 5px;
  &:hover {
    background: #eeeeee;
  }
}

.autocomplete__active {
  background: #eeeeee;
}
